.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: black;
  background-image: none;
}

input[type=text] {
  width: 70%;
  opacity: 80%;
  background-color: black;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
  text-align: center;
}